{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Portfolio</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    {% include 'main/navbar.html' %}
    
    <section class="about page">
        <div>
            <h2>About Me</h2>
            <p>
                I'm <strong>Methusela Reynarld</strong>, a Senior ICT Officer and Software Engineer passionate about
                building intelligent systems, scalable web apps, and automating real-world solutions.
            </p>
        </div>
    </section>
</body>
</html>
